<div class="nav">
  <div class="nav-heading">
    <a>ngEvents</a>
  </div>
  <ul class="nav-ul">
    <div class="nav-ul-section">
      <li *ngIf="authService.loggedIn()" class="nav-ul-section-li1" [routerLink]="['/profile']" [routerLinkActive]="['active-link']"
        [routerLinkActiveOptions]="{exact: true}">Profile</li>
      <li class="nav-ul-section-li2" [routerLink]="['/login']" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact:
      true}" *ngIf="!authService.loggedIn()">Login</li>
      <li class="nav-ul-section-li3" [routerLink]="['/create/events']" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact:
      true}" *ngIf="authService.loggedIn()">Create Events</li>
      <li class="nav-ul-section-li4" [routerLink]="['/register']" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact:
      true}" *ngIf="!authService.loggedIn()">Registration</li>
      <li href="#" *ngIf="authService.loggedIn()" (click)="onLogOut()">Logout</li>
    </div>
  </ul>
  <div *ngIf="authService.loggedIn()" class="nav-section">
    <div class="nav-section-heading2">
      <a>Welcome john</a>
    </div>
    <form ngForm="formValue" #formValue class="nav-section-form">
      <input class="nav-section-form-input" ngModel name="search" type="text">
      <button class="nav-section-form-button">Search</button>
    </form>
  </div>
</div>